[data-acc] {
    margin: 0;
    padding: 0;
    list-style: none;
    details {
        display: block;
    }

    summary::-webkit-details-marker {
        display: none;
    }

    summary {
        display: grid;
        grid-template-columns: auto 20px;
        align-items: center;
        color: #fff;
        cursor: inherit;
        color: #000;
    }

    summary svg {
        max-width: 20px;
        max-height: 20px;
    }

    [data-acc-title] {
        margin-right: 20px;
    }

    [data-acc-content] {
        overflow: hidden;
        transition: max-height 0.4s ease-out;
    }

    details {
        cursor: pointer;
    }

    details[open] + [data-acc-content] {
        max-height: var(--jsHeight) !important;
    }

    summary svg .vertival_line {
        transition: 0.2s ease;
    }

    details[open] summary svg .vertival_line {
        opacity: 0 !important;
    }
}
