@import "../../scss/fonts";
@import "../../scss/base";

[data-acc] {
    margin: 0;
    padding: 0;
    list-style: none;

    & > :not(:last-child) {
        margin-bottom: 20px;
    }

    [data-acc-title] {
        position: relative;
        display: block;
        cursor: pointer;
        padding-right: 40px;

        border: none;
        background-color: transparent;
        display: block;
        width: 100%;
        text-align: start;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background-image: url("../arr.svg");
            background-position: center center;
            background-repeat: no-repeat;
            transition: 0.4s ease;
        }
    }

    [data-acc-content] {
        overflow: hidden;
        transition: max-height 0.4s ease-out;
    }

    [data-acc-item][data-open-acc] [data-acc-content] {
        max-height: var(--jsHeight) !important;
    }

    [data-acc-item][data-open-acc] [data-acc-title]::before {
        transform: translateY(-50%) scaleY(-1);
    }
}

//======= do not copy ==========

.box {
    margin-bottom: 80px;
}
h1 {
    text-align: center;
}

a {
    color: blue;
}
